@model List<GetDailyTourPlanByIdDto>

<div id="iternary" class="accrodion-grp faq-accrodion mb-4">
    @foreach (var item in Model)
    {
        <div class="accrodion">
            <div class="accrodion-title rounded" style="cursor: pointer;">
                <h5 class="mb-0">@item.Title</h5>
            </div>
            <div class="accrodion-content" style="display: none;">
                <div class="inner">
                    <p>@item.ShortExplanation</p>
                </div>
            </div>
        </div>
    }
</div>